* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.calculator-grid {
  display: grid;
  margin-top: 3rem;
  margin-left: 5%;
  grid-template-columns: repeat(4, 9rem);
  grid-template-rows: minmax(5rem, auto) repeat(5, 5rem);
}

.btn-orange {
  background-color: rgb(255, 153, 0);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid rgb(165, 165, 165);
  outline: none;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(168, 165, 165, 0.568);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background-color: rgb(134, 134, 134);
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 7px;
}

.quote {
  margin-top: 30px;
  margin-left: 5%;
  font-size: large;
  color: white;
  border-radius: 10px;
  width: auto;
  padding: 10px 20px;
  background-image: linear-gradient(to right, rgba(247, 4, 215, 0.705), rgba(0, 0, 255, 0.733));
  -webkit-box-shadow: 1px 2px 8px 0 rgba(166, 34, 199, 0.9);
}

.loading,
.error {
  font-size: larger;
  margin-left: 5%;
  margin-top: 30px;
}
